<div class="btn-group">
	<%= button_tag 'Simulation', class: "btn btn-primary", simulations_path %>
	<%= button_tag 'Admin', class: "btn btn-primary" %>
	<%= button_tag 'Data View', class: "btn btn-primary" %>
</div>