<div class="col-md-3">
	<ul class="list-group">
		<h2>Simulations</h2>
		<% @simulations.each do |sim| %>
			<li class="list-group-item list-group-flush">
				<%=	link_to sim.full_name, simulation_path(sim) %>
			</li>
		<% end %>
	</ul>
</div>