<table class="table table-stripped table-hover ">
    <tbody>
	<% @simulations.each do |sim| %>
        <tr class="clickable-row" data-href=<%= simulation_path(sim) %>>
            <td><%= sim.name %></td>
        </tr>
	<% end %>
    </tbody>
</table>
