<div class="row">
  <div class="col-md-3">

    <div class="row">
      
      <div class="col-md-8">
        <h1 class="text-center">Simulation History</h1>
      </div>

      <div class="col-md-4">
        <%= render 'btnFunctions' %> 
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render 'listSims' %>
      </div>
    </div>

  </div>

  <div class="col">
    <h1>
      Welcome to the Mars Simulations
    </h1>
  </div>
</div>
  
