<div class="row">
  <div class="col-md-3">
    <%= render 'listSims' %>
  </div>  

  <div class="col-md-4">
    <div class="row">
      <%= render 'btnFunctions' %>
    </div>

    <div class="row">
    <%= render 'formSim' %>
    </div>
  </div>
    
</div>