<div class="container">
  <div class="jumbotron text-center">
      <h1>Mars Lander Simulation</h1>    
  </div>

  <h1>
    Login
  </h1>

  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key.to_sym) %>">
          <%= value %>
    </div>
  <% end %>

  <%= render 'userForm' %>

</div>

