<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="jumbotron text-center">
      <h1>Mars Lander Simulation</h1>    
  </div>

  <h1>
    Login
  </h1>

  <%= render 'layouts/alerts' %>
  
  <%= render 'userForm' %>

</div>