<table class="table table-stripped table-hover ">
    <tbody>
    <% @users.each do |user| %>
        <tr class="clickable-row" data-href=<%= user_path(user) %>>
            <td><%= user.full_name %></td>
        </tr>
    <% end %>
    </tbody>
</table>
